body{
    background-color: hsl(0, 0%, 8%);
}
.monster:hover{
background-color:  hsl(75, 94%, 57%);
color: black;
}
.monster{
    background-color:hsl(0, 0%, 20%);
     color: white;
     border-radius: 5px;
}